<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Resources.Listeners"></listener>
		<listener class-name="Resources.ExtentReporterNG"></listener>
	</listeners>  

	 <test name="Test_Suite" >
	     <classes>
		 //add landing page 
	
						<class name="TestSuite.TestCases_LandingPage">
		        <methods>
			        <include name="NewCarLandingPage" />
			        <include name="UsedCarsLandingPage" />
			        <include name="UsedBikesLandingPage" />
			        <include name="VerifyAccessoriesLandingPage" />
		      	</methods>
	       	</class>

			<class name="TestSuite.TestCases_AdPost">
		        <methods>
			        <include name="BikesAdPost" />
			        <include name="AccessoriessAdPost" />
		      	</methods>
	      	</class>

 			<class name="TestSuite.TestCases_LeadForms">
		        <methods>
			        <include name="SellItForMeRequest" />
			        <include name="InspectionRequest" />
			        <include name="AuctionSheetRequest" />
			        <include name="InsuranceRequest" />
			        <include name="FinanceRequest" />
			        <include name="CarRegistration" />
			        <include name="OwnerShipTransfer" />
		      	</methods>
	       	</class> 
	       	
	       		<class name="TestSuite.TestCases_EstoreOrder">
		        <methods>
					<include name="EstoreOrders" /> 
		      	</methods>
	       	</class>

<class name="TestSuite.TestCases_NewCar">
                <methods>
					<include name="NewCarModelPage" />
					<include name="VerifyVersionPage" />
					<include name="UpcomingNewCarDetail" />
                </methods>
            </class>
	       	<class name="TestSuite.TestCases_NewBike">
                <methods>
					<include name="NewBikeAdDetail" />
                </methods>
            </class>
			<class name="TestSuite.TestCases_Search">
				<methods>
					<include name="AccessoriesSearch" />
				</methods>
			</class>
	       	
	    </classes>
	  </test>

</suite> 
